.section2{
    width: 100%;
    background-color: #78A244 ;
    padding: 50px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
    align-content: center;
    justify-items: center;


    
}

.apresentation{
    position: relative;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background: #D9D9D9;
    display: flex;
    justify-content: flex-end;
    align-items: left;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;

}

.gustavo{
    background-image: url("../../imagens/Lopess.jpg") ;
}
.lucas{
    background-image: url("../../imagens/lucas.jpg") ;
}
.heitor{
    background-image: url("../../imagens/Heitor.jpg") ;
}
.rodrigo{
    background-image: url("../../imagens/rodrigo.jpg") ;
}
.enzo{
    background-image: url("../../imagens/enzo.jpg") ;
}

.apresentation-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00000040;
    z-index: 1;
}
h3{
    color:#78A244;
    
}
.apresentation p {
    color: #ffffff;

}
.apresentation h3, .apresentation p {
    z-index: 1999;
}